*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    min-width: 320px;
    max-width: 350px;
    display: block;
    margin: 20px auto;
    
}


img {
   display: block;
   margin: 80px auto;
   width: 55%;
}


.form-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    font-size: 1.8rem ;

}

.label-titulo-form{
    margin-top: 20px;
}

.seccion2{   
    text-align: center;
    margin-left: -21px;
}

 .btn-inicio{
  border-radius: 20px !important ;
  margin-top: 20px;
  font-size: 1.8rem !important;
 
}



