*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    min-width: 320px;
    max-width: 320px;
    max-height: 550px;
    display: block;
   
     
}

img {
   display: block;
   margin: 50px auto;
   width: 55%;
}

/*estilos de P1*/


footer {
    text-align: center; /* Centra el contenido del footer */
    background-color: #f2f2f2; /* Agrega un color de fondo al footer */
    padding: 10px; /* Agrega un espacio alrededor del contenido del footer */
  }

  footer a {
    color: #333; /* Cambia el color del enlace */
    text-decoration: none; /* Elimina la subrayado del enlace */
    font-size: 16px; /* Cambia el tamaño de la fuente del enlace */
  }



/*estilos de formulario*/
.form-inicio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    font-size: 1.8rem ;

}

.label-titulo-form{
    margin-top: 20px;
}

.seccion2{   
    text-align: center;
    margin-left: -21px;
}

 .btn-inicio{
  border-radius: 20px !important ;
  margin-top: 20px;
  font-size: 1.8rem !important;
 
}


.card {
   
  }

